*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#000000, #737373) ;
}


header{
    background-color: #1e1e1e;
    width: 100%;
    box-shadow: 0 0 10px #ccc;

}

header nav {
    float: right;
}

header nav ul li{
    display: inline-block;
    margin: 50px;
    font-size: 20px;
}

header nav ul li a{
text-decoration: none;
color: #fff;
}

header nav ul li a:hover{
    color: rgb(21, 253, 0);
}


.logo{
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
}

.container {
    display:flex;

}


.imagem1{
    margin-top: 25px;
    width: 500px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
}

.text{
    font-family: "Sora", sans-serif;
    width: 500px;
    text-align: justify;
    margin-top: 100px;
    font-size: 1.3em;
    margin-left: 25px;
    color: white;  
}


.btn{
    margin-top: 100px;
    margin-left: 150px;

}

.btn-play{
    text-decoration: none;
    border: 1px solid #000;
    height: 140px;
    background-color: rgb(21, 253, 0);
    font-family: "Sora",Arial;
    padding: 20px;
    color: #000;
    border-radius: 10px;
   
    
}
.btn-play:hover{
    text-decoration: none;
    border: 1px solid #000;
    height: 140px;
    background-color: rgb(253, 152, 0);
    font-family: "Sora",Arial;
    padding: 30px;
    
}


.centro{
    text-align: center;
}

.centro h1, h2{
    color: rgb(255, 255, 255);
    height: 50PX;
}








